#arriba-edit{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#boton-atras{
    width: 55px;
    height: 55px;
    background: none;
    border: none; 
    padding: 0; 
}

#boton-atras img{
    width: 100%;
    height: auto;
}

#box-img {
    position: relative;
    display: inline-block; /* Para que el div solo ocupe el espacio necesario */
}

#edit-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 36px;
    overflow: hidden;
    cursor: pointer;
    background: none;
    border-radius: 10px;
}

#edit-img #cuadro {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    transform: translate(-50%, -50%); /* Corrige la posición */
}

#div-info-edit{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#div-info-edit img{
    width: auto;
    height: 150px;
}

#info-edit{
    width: 500px;
}

#nombre-edit{
    text-align: center;
    background-color: #1B242A;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#cambiar-btn{
    display: flex;
    justify-content: center;
}

#cambiar-btn button{
    border: none;
    background: none;
    margin: 20px;
    cursor: pointer;
}

footer{
    text-align: center;
}

#logoutbtn{
    border: none;
    border-radius: 10px;
    border-radius: 10px;
    background: none;
}

#logoutbtn img{
    width: 100%;
    cursor: pointer;
}