#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#footer p,
#footer .Regi{
    font-size: 15px;
}

#footer .Regi{
    color: blueviolet;
}