#arriba-us{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#boton-atras{
    width: 55px;
    height: 55px;
    background: none;
    border: none; 
    padding: 0; 
}

#boton-atras img{
    width: 100%;
    height: auto;
}

#edit-p{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #ef3fa93a;
    color: red;
    border: none;
}

#div-info-us{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

#div-info-us img{
    width: auto;
    height: 250px;
    align-items: center;
}

#info-us{
    width: 500px;
}

#nombre-us{
    text-align: center;
    background-color: #1B242A;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#linea-us{
    border: 2px solid #EF3FA9;
    margin: 20px 0;
}

#puntos-us{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#zona-puntos{
    display: flex;
    justify-content: center;
    height: 400px;
}

#zona-puntos h2{
    color: #EF3FA9;
    font-size: 35px;
    margin: 0;
}

#progreso {
    display: flex;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Agrega espaciado alrededor del contenido */
    margin-bottom: 100px;
}

#progresoT{
    text-align: center;
    font-size: 35px;
    color: #1B242A;
}

#circulos,
#zona-puntos {
    flex: 1; /* Los elementos ocuparán el mismo espacio */
}

#linea-vertical {
    width: 2px; /* Ancho de la línea */
    border: 2px solid #EF3FA9;
    background-color: #EF3FA9; /* Color de la línea */
}

#circulos{
    display: flex;
    margin-right: 100px;
}

.circP {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    margin: 0 40px;
}

.title-curso{
    text-align: center;
    margin-bottom: 10px;
    color: #1B242A;
}

#puntos-us h2{
    margin-bottom: 50px;
    font-size: 50px;
}

#puntos-us img{
    width: 100%;
}

#zona-puntos{
    align-items: center;
}

#puntos-us p{
    display: inline-block;
    background-color: yellow;
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

#nivel-center{
    display: flex;
    justify-content: center; 
}

#nivel-edit{
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px;
    align-items: center; 
    display: flex;
}

progress{
    margin-left: 20px;
}


progress{
    height: 40px;
    width: 400px;
}